FRONTEND_SERVER=213.21.252.60
FRONTEND_USER=root

SSH_HOST=se.ifmo.ru
SSH_USER=s######
SSH_PORT=2222

REACT_APP_BACKEND_HOST=se.ifmo.ru
REACT_APP_BACKEND_PORT=31337
REACT_APP_BACKEND_PATH=/person-management-system/api

APP_NAME=person-management-system

DB_USER=s######
DB_PASSWORD=your_password
DB_NAME=studs
